<!DOCTYPE html>
<html lang="UTF-8" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Insert title here</title>
</head>
<body>
<p th:text="${hello}">message</p>
    <a href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=f398d5912c151f13e22b5fecfbd1f249&redirect_uri=http://localhost:8080/oauth/kakao&response_type=code">
        <img src="../static/img/kakao_login_medium_narrow.png">
    </a>


</body>
</html>
